.idea/*
*.xml

build/
cmake-build-*/
out/

*.o
*.obj
*.a
*.so
*.dylib

*.exe
*.out
test
StockExchange

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

.DS_Store
**/.DS_Store

*.txt
misc_files/
planning/